<div>
  <div class="d-flex justify-content-between">
    <h3 class="mb-3 {{ isDarkMode ? 'dark-mode' : 'light-mode' }}">
      {{ isSearchActive ? "Results" : "Event List" }}
    </h3>
    <h6 class="mb-4 {{ isDarkMode ? 'dark-mode' : 'light-mode' }}">
      You have
      <span
        class="{{
          isDarkMode ? 'text-warning' : 'text-primary'
        }} numberOfEvents"
        >{{ isSearchActive ? events.length : numberOfEvents }}</span
      >
      {{ isSearchActive ? "matching events" : "events" }}
    </h6>
  </div>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Search events..."
      [(ngModel)]="searchTerm"
      (ngModelChange)="onSearchChange()"
      aria-label="Search events"
    />
    <button
      class="btn btn-outline-secondary  {{
        isDarkMode ? 'dark-mode' : 'light-mode'
      }}"
      type="button"
      (click)="clearSearch()"
    >
      Clear
    </button>
  </div>
  <!-- Event List (Show either all events or search results) -->
  <div *ngIf="events.length > 0; else noEvents">
    <div class="list-group">
      <!-- Display the event title, update button, and delete button -->
      <div
        *ngFor="let event of events"
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <span
          class="col-6"
          (click)="viewDetails(event.id)"
          style="cursor: pointer"
        >
          {{ event.title }}
        </span>

        <div class="col-6 col-md-4 col-xl-2 d-flex justify-content-end">
          <!-- Update button -->
          <button
            class="btn btn-info btn-sm col-5 h6"
            (click)="updateEvent(event.id)"
          >
            Update
          </button>

          <!-- Delete button -->
          <button
            class="btn btn-danger btn-sm mx-2 col-5 h6"
            (click)="deleteEvent(event.id)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- No Events Message -->
  <ng-template #noEvents>
    <div class="text-center mt-5">
      <h5 class="text-muted">No events found.</h5>
    </div>
  </ng-template>
</div>
