.list-group-item {
  font-size: 1.1rem;
  padding: 1rem 1.25rem;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

.numberOfEvents {
  font-size: 1.1rem;
  font-weight: 900;
}
