.list-group-item {
  font-size: 1.1rem;
  padding: 1rem 1.25rem;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #e9eaea;
}

.numberOfEvents {
  font-size: 1.1rem;
  font-weight: 900;
}

.dark-mode {
  color: #ffffff;
}

.light-mode {
  color: #000000;
}
