.btn-link {
  text-decoration: none;
  font-weight: bold;
}

.btn-link:hover {
  text-decoration: underline;
}

.card-header {
  background-color: #f8f9fa;
}

.card-body {
  background-color: #fdfdfe;
}

.accordion-button {
  font-weight: bold;
}

.accordion-body {
  background-color: #f9f9f9;
  padding: 1rem;
}

.accordion-item {
  margin-bottom: 1rem;
}

.numberOfEvents {
  font-size: 1.1rem;
  font-weight: 900;
}
