.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin: 0;
}

.footer > h6 {
  margin: 0;
  font-size: 0.65rem;
}

.heart {
  color: red;
  font-size: 0.8rem;
}

.autor {
  font-family: cursive;
  font-weight: bold;
  font-size: 0.7rem;
}
