.view-mode-icon {
  width: 17px;
  height: 17px;
}

.view-mode-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 7px;
  padding: 5px;
}
