<form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="title" class="form-label">Event Title:</label>
    <input
      id="title"
      formControlName="title"
      type="text"
      class="form-control"
    />
  </div>

  <div class="mb-3">
    <label for="numberOfPeople" class="form-label">Number of People:</label>
    <input
      id="numberOfPeople"
      formControlName="numberOfPeople"
      type="number"
      min="1"
      step="1"
      class="form-control"
    />
  </div>

  <div class="mb-3">
    <label for="emails" class="form-label"
      >Emails (separate using commas):</label
    >
    <textarea
      id="emails"
      formControlName="emails"
      class="form-control"
    ></textarea>
  </div>

  <div class="mb-3">
    <label for="location" class="form-label">Location:</label>
    <input
      id="location"
      formControlName="location"
      type="text"
      class="form-control"
    />
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description:</label>
    <textarea
      id="description"
      formControlName="description"
      class="form-control"
    ></textarea>
  </div>

  <button type="submit" [disabled]="eventForm.invalid" class="btn btn-primary">
    Add Event
  </button>
</form>
