.dark-mode ::ng-deep .fc-toolbar-title {
  color: #ffffff; /* White text for dark mode */
}

.dark-mode ::ng-deep .fc-scrollgrid-section-body {
  cursor: pointer;
}

::ng-deep .fc-toolbar-title {
  color: #000000; /* Default light mode */
}

::ng-deep .fc-scrollgrid-section-body {
  cursor: pointer;
}

.form-floating > label,
.form-floating ~ label {
  font-size: 1.1rem;
  font-weight: 900;
  color: black;
}
